# Each line is a file pattern followed by one or more owners. Being an owner
# means those groups or individuals will be added as reviewers to PRs affecting
# those areas of the code.
#
# More on CODEOWNERS files: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Select Auth engines are owned by Ecosystem
/builtin/credential/aws/      @openbao/openbao-ecosystem
/builtin/credential/github/   @openbao/openbao-ecosystem
/builtin/credential/ldap/     @openbao/openbao-ecosystem
/builtin/credential/okta/     @openbao/openbao-ecosystem

# Secrets engines (pki, ssh, totp and transit omitted)
/builtin/logical/aws/         @openbao/openbao-ecosystem
/builtin/logical/cassandra/   @openbao/openbao-ecosystem
/builtin/logical/consul/      @openbao/openbao-ecosystem
/builtin/logical/database/    @openbao/openbao-ecosystem
/builtin/logical/mongodb/     @openbao/openbao-ecosystem
/builtin/logical/mssql/       @openbao/openbao-ecosystem
/builtin/logical/mysql/       @openbao/openbao-ecosystem
/builtin/logical/nomad/       @openbao/openbao-ecosystem
/builtin/logical/postgresql/  @openbao/openbao-ecosystem
/builtin/logical/rabbitmq/    @openbao/openbao-ecosystem

/plugins/                     @openbao/openbao-ecosystem
/vault/plugin_catalog.go      @openbao/openbao-ecosystem

/website/content/ @openbao/openbao-website
/website/content/docs/plugin-portal.mdx @openbao/openbao-website

# Plugin docs
/website/content/docs/plugins/              @openbao/openbao-website
/website/content/docs/upgrading/plugins.mdx @openbao/openbao-website

# UI code related to Vault's JWT/OIDC auth method and OIDC provider.
# Changes to these files often require coordination with backend code,
# so stewards of the backend code are added below for notification.
/ui/app/components/auth-jwt.js         @scorpil @naphelps
/ui/app/routes/vault/cluster/oidc-*.js @scorpil @naphelps

# Release config; service account is required for automation tooling.
/.release/                    @openbao/release-engineering @openbao/quality-team
/.github/workflows/build.yml  @openbao/release-engineering @openbao/quality-team

# Quality engineering
/.github/  @openbao/quality-team
/enos/     @openbao/quality-team

# Cryptosec
/builtin/logical/pki/                                @openbao/openbao-crypto
/builtin/logical/pkiext/                             @openbao/openbao-crypto
/website/content/docs/secrets/pki/                   @openbao/openbao-crypto
/website/content/api-docs/secret/pki.mdx             @openbao/openbao-crypto
/builtin/credential/cert/                            @openbao/openbao-crypto
/website/content/docs/auth/cert.mdx                  @openbao/openbao-crypto
/website/content/api-docs/auth/cert.mdx              @openbao/openbao-crypto
/builtin/logical/ssh/                                @openbao/openbao-crypto
/website/content/docs/secrets/ssh/                   @openbao/openbao-crypto
/website/content/api-docs/secret/ssh.mdx             @openbao/openbao-crypto
/builtin/logical/transit/                            @openbao/openbao-crypto
/website/content/docs/secrets/transit/               @openbao/openbao-crypto
/website/content/api-docs/secret/transit.mdx         @openbao/openbao-crypto
/helper/random/                                      @openbao/openbao-crypto
/sdk/helper/certutil/                                @openbao/openbao-crypto
/sdk/helper/cryptoutil/                              @openbao/openbao-crypto
/sdk/helper/kdf/                                     @openbao/openbao-crypto
/sdk/helper/keysutil/                                @openbao/openbao-crypto
/sdk/helper/ocsp/                                    @openbao/openbao-crypto
/sdk/helper/salt/                                    @openbao/openbao-crypto
/sdk/helper/tlsutil/                                 @openbao/openbao-crypto
/shamir/                                             @openbao/openbao-crypto
/vault/barrier*                                      @openbao/openbao-crypto
/vault/managed_key*                                  @openbao/openbao-crypto
/vault/seal*                                         @openbao/openbao-crypto
/vault/seal/                                         @openbao/openbao-crypto
/website/content/docs/configuration/seal/            @openbao/openbao-crypto
/website/content/docs/enterprise/sealwrap.mdx        @openbao/openbao-crypto
/website/content/api-docs/system/sealwrap-rewrap.mdx @openbao/openbao-crypto
/website/content/docs/secrets/transform/             @openbao/openbao-crypto
/website/content/api-docs/secret/transform.mdx       @openbao/openbao-crypto
/website/content/docs/secrets/kmip-profiles.mdx      @openbao/openbao-crypto
/website/content/docs/secrets/kmip.mdx               @openbao/openbao-crypto
/website/content/api-docs/secret/kmip.mdx            @openbao/openbao-crypto
/website/content/docs/enterprise/fips/               @openbao/openbao-crypto
