# Creates a GitHub Release.
# Workflow is manually run.
# Preselect branch or tag before running this workflow.
name: release

on:
  workflow_dispatch:
    inputs:
      nightly:
        description: "Mark as nightly build"
        required: true
        default: true
        type: boolean
      dogorelease:
        description: "Run goreleaser"
        required: true
        default: true
        type: boolean
      dodistrelease:
        description: "Release distribution source tarball"
        required: true
        default: true
        type: boolean
      dodebrelease:
        description: "Release DEB packages in APT repository"
        required: true
        default: true
        type: boolean
      dorpmrelease:
        description: "Release RPM packages in YUM repository"
        required: true
        default: true
        type: boolean

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Disable release on nightly repository
        if: ${{ !inputs.nightly }}
        run: |
          if [ "$GITHUB_REPOSITORY" == "openbao/openbao-nightly" ]; then
            echo "Refusing to run non-nightly release on nightly repo" 1>&2
            exit 1
          fi
      - name: Disable nightly on primary repository
        if: inputs.nightly
        run: |
          if [ "$GITHUB_REPOSITORY" != "openbao/openbao-nightly" ]; then
            echo "Refusing to run nightly release on non-nightly repo" 1>&2
            exit 1
          fi

  build-ui-dist:
    runs-on: ubuntu-latest
    needs:
      - setup
    outputs:
      version: ${{ steps.make-distribution-tarball.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # Required by GoRelease

      - name: Configure nightly build
        if: inputs.nightly
        run: |
          # Locally remove previous nightly tags so they do not interfere
          # with nightly tag computation. Also add the upstream.
          git remote add upstream https://github.com/openbao/openbao
          git fetch --all

          for tag in $(git tag); do
            if [[ "$tag" == *nightly* ]]; then
              echo "Deleting $tag"
              git tag --delete "$tag"
            fi
          done

          # Then create a nightly tag for this commit. Because this uses the
          # time of commit, it is stable across different runners.
          nightly_tag="$(bash ./scripts/nightly_tag.sh)"
          git tag "$nightly_tag"

      - name: Node setup
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: "./ui/package.json"

      - name: Yarn setup
        id: install-yarn
        run: |
          npm install -g yarn

      - name: UI Cache Setup
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            http/web_ui/
          key: ${{ github.ref }}-ui

      # Before executing binary builds, build the UI.
      - name: Install UI dependencies
        id: ui-dependencies
        working-directory: ./ui
        run: |
          yarn install --frozen-lockfile
          npm rebuild node-sass

      - name: Build UI
        id: ui-build
        run: |
          make static-dist

      - name: Make LICENSE_NODE_MODULES.txt
        if: inputs.dodistrelease
        run: |
          set -e
          sudo npm install --global generate-license-file
          cd ui
          generate-license-file --input package.json --output ../LICENSE_NODE_MODULES.txt

      - name: Make SPDX_NODE_MODULES.txt
        if: inputs.dodistrelease
        run: |
          sudo apt install -y jq
          jq -r .license ui/node_modules/*/package.json | \
            grep -v url | \
            sed 's/.*"type": "//;s/",//' | \
            grep -v { | grep -v } | grep -v ^null$ | \
            awk '{if ((($2 == "OR") || ($2 == "AND")) && (substr($1, 0, 1) != "(")) { print "(" $0 ")"} else {print $0}}' | \
            sort -u >SPDX_NODE_MODULES.txt

      - name: Make VERSION_NODE_MODULES.txt
        if: inputs.dodistrelease
        run: jq -r '"\(.name) \(.version)"'  ui/node_modules/*/package.json >VERSION_NODE_MODULES.txt

      - name: Golang Setup
        uses: ./.github/actions/set-up-go

      - name: go-check
        run: go version

      - name: Make LICENSE_DEPENDENCIES.md
        if: inputs.dodistrelease
        run: |
          go run github.com/google/go-licenses@v1.6.0 report ./... --ignore github.com/openbao/openbao --template LICENSE_DEPENDENCIES.tpl > LICENSE_DEPENDENCIES.md

      - name: go mod vendor
        if: inputs.dodistrelease
        run: |
          go mod vendor

      - name: Make distribution source tarball
        if: inputs.dodistrelease
        id: make-distribution-tarball
        run: |
          version="$(git describe --tags --exclude "api/*" --exclude "sdk/*" --abbrev=0 | sed 's/^v//')"
          echo "version=$version" | tee -a "$GITHUB_OUTPUT"
          tar --exclude .git --exclude '*.gz' --exclude '*/ui/.yarn/cache' --exclude node_modules -cJf ../openbao-dist-$version.tar.xz --xform="s,^\.,openbao-dist-$version," .
          mv ../*.xz .

      - name: Upload distribution source tarball artifact
        if: inputs.dodistrelease
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist-tarball
          path: '*.xz'
          retention-days: 1

  release-main:
    runs-on: ubuntu-latest
    needs:
      - build-ui-dist
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
      SYFT_GOLANG_SEARCH_LOCAL_MOD_CACHE_LICENSES: "true"
      SYFT_GOLANG_SEARCH_REMOTE_LICENSES: "true"
    strategy:
      matrix:
        release_os:
          - linux
          - hsm
          - darwin
          - freebsd
          - netbsd
          - openbsd
          - windows
    steps:
      - name: Free additional storage on runner
        if: inputs.dogorelease
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL

      - name: Check free storage on runner
        if: inputs.dogorelease
        run: |
          df -h .

      - name: Checkout
        if: inputs.dogorelease
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # Required by GoRelease

      - name: Configure nightly build
        if: inputs.dogorelease && inputs.nightly
        run: |
          # Locally remove previous nightly tags so they do not interfere
          # with nightly tag computation. Also add the upstream.
          git remote add upstream https://github.com/openbao/openbao
          git fetch --all

          for tag in $(git tag); do
            if [[ "$tag" == *nightly* ]]; then
              echo "Deleting $tag"
              git tag --delete "$tag"
            fi
          done

          # Then create a nightly tag for this commit. Because this uses the
          # time of commit, it is stable across different runners.
          nightly_tag="$(bash ./scripts/nightly_tag.sh)"
          git tag "$nightly_tag"

      - name: Golang Setup
        if: inputs.dogorelease
        uses: ./.github/actions/set-up-go

      - name: go-check
        if: inputs.dogorelease
        run: go version

      - name: UI Cache Setup
        if: inputs.dogorelease
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            http/web_ui/
          key: ${{ github.ref }}-ui

      # Supports syft/sbom generation
      - uses: anchore/sbom-action/download-syft@a930d0ac434e3182448fe678398ba5713717112a # v0.21.0
        if: inputs.dogorelease

        # Supports Buildx
      - name: Qemu Setup
        if: inputs.dogorelease
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Buildx Setup
        if: inputs.dogorelease
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Cosign Install
        if: inputs.dogorelease
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: GPG Import
        if: inputs.dogorelease
        id: gpg-import
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSWORD }}

      - name: "Docker Login: ghcr.io"
        if: inputs.dogorelease && (startsWith(github.ref, 'refs/tags/') || inputs.nightly)
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Docker Login: docker.io"
        if: inputs.dogorelease && (startsWith(github.ref, 'refs/tags/') || inputs.nightly)
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: "Docker Login: quay.io"
        if: inputs.dogorelease && (startsWith(github.ref, 'refs/tags/') || inputs.nightly)
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

        # Needed for nPFM
      - name: Create GPG Signing Key File
        if: inputs.dogorelease && (startsWith(github.ref, 'refs/tags/') || inputs.nightly)
        run: |
          GPG_KEY_FILE=/tmp/signing-key.gpg
          echo "${{ secrets.GPG_PRIVATE_KEY_BASE64 }}" | base64 -di > "${GPG_KEY_FILE}"
          echo "GPG_KEY_FILE=${GPG_KEY_FILE}" >> "${GITHUB_ENV}"
        env:
          GPG_TTY: /dev/ttys000 # Set the GPG_TTY to avoid issues with pinentry

      - name: Install GoReleaser
        if: inputs.dogorelease && (startsWith(github.ref, 'refs/tags/') || inputs.nightly)
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          install-only: true
          # TODO: remove version pinning when Goreleaser 2.8 is released
          version: v2.5.1

      - name: Install C compiler for arm64 CGO cross-compilation
        if: inputs.dogorelease && matrix.release_os == 'hsm'
        run: sudo apt install -y gcc-aarch64-linux-gnu

      - name: "GoReleaser: Release"
        if: inputs.dogorelease && (startsWith(github.ref, 'refs/tags/') || inputs.nightly)
        run: |
          if [[ ! -f "goreleaser.${{ matrix.release_os }}.yaml" ]]; then
            yq e '.builds[0].goos |= ["${{ matrix.release_os }}"] | .checksum.name_template |= "checksums-${{ matrix.release_os }}.txt"' "goreleaser.other.yaml" | goreleaser release --clean --timeout=60m --verbose --parallelism 2 -f -
          else
            goreleaser release --clean --timeout=60m --verbose --parallelism 2 -f "goreleaser.${{ matrix.release_os }}.yaml"
          fi
        env:
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.gpg-import.outputs.fingerprint }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          NFPM_DEFAULT_PASSPHRASE: ${{ secrets.GPG_PASSWORD }}
          NIGHTLY_RELEASE: ${{ inputs.nightly }}

      - name: Upload deb packages artifact
        if: inputs.dodebrelease
        uses: actions/upload-artifact@v4
        with:
          name: deb-packages-${{ matrix.release_os }}
          path: 'dist/*.deb'
          retention-days: 1
      
      - name: Upload rpm packages artifact
        if: inputs.dorpmrelease
        uses: actions/upload-artifact@v4
        with:
          name: rpm-packages-${{ matrix.release_os }}
          path: 'dist/*.rpm'
          retention-days: 1

      - name: Remove GPG Signing Key File
        if: always()
        run: |
          if [ -n "${GPG_KEY_FILE}" ]; then
            rm -rf "${GPG_KEY_FILE}"
          fi

  release-dist:
    runs-on: ubuntu-latest
    if: inputs.dodistrelease
    needs:
      - build-ui-dist
      - release-main
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      TAGNAME: v${{ needs.build-ui-dist.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # "fetch-tags: true" instead of "fetch-depth: 0" should be enough
          # but it fails in combination with dogorelease
          # https://github.com/actions/checkout/issues/1467
          fetch-depth: 0

      - name: Create release if necessary
        if: ${{ !inputs.dogorelease }}
        run: |
          gh release create -t $TAGNAME --verify-tag $TAGNAME || true

      - name: Download dist-tarball artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist-tarball

      - name: Release distribution source tarball
        run: |
          gh release upload $TAGNAME *.xz

  release-deb:
    runs-on: ubuntu-latest
    if: inputs.dodebrelease && inputs.dogorelease
    needs:
      - build-ui-dist
      - release-main
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.PKG_S3_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.PKG_S3_SECRET }}
      AWS_REGION: 'fra'
      AWS_ENDPOINT_URL: "https://${{ secrets.PKG_S3_SERVER_NAME }}"
      BUCKET: ${{ secrets.PKG_S3_BUCKET_NAME }}
    steps:
      - name: Download APT db and dists
        run: |
          aws s3 sync s3://${BUCKET}/deb/db build/deb/db
          aws s3 sync s3://${BUCKET}/deb/dists build/deb/dists

      - name: Download deb-packages artifacts
        uses: actions/download-artifact@v5
        with:
          pattern: deb-packages-*
          merge-multiple: true

      - name: GPG Import
        id: gpg-import
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSWORD }}
      
      - name: Install reprepro from debian experimental
        run: |
          sudo apt update && sudo apt install -y debian-archive-keyring
          echo "deb [signed-by=/usr/share/keyrings/debian-archive-keyring.gpg] http://ftp.debian.org/debian experimental main" | sudo tee /etc/apt/sources.list.d/debian-experimental.list > /dev/null # required for reprepro with "Limit" support
          echo "deb [signed-by=/usr/share/keyrings/debian-archive-keyring.gpg] http://ftp.debian.org/debian sid main" | sudo tee /etc/apt/sources.list.d/debian-trixie.list > /dev/null # required for libgpgme45 >= 1.23.2
          sudo apt update
          sudo apt install -t experimental -y reprepro

      - name: Update APT repository
        run: |
          mkdir -p build/deb/conf
          cat > build/deb/conf/distributions <<EOF
          Origin: OpenBao - Official
          Label: OpenBao
          Suite: stable
          Codename: stable
          Architectures: amd64 arm64 armhf ppc64el riscv64 s390x
          Components: main
          Description: Official APT repository for OpenBao
          SignWith: ${GPG_FINGERPRINT}
          Limit: 0
          EOF
          reprepro -b build/deb includedeb stable *.deb
        env:
          GPG_FINGERPRINT: ${{ steps.gpg-import.outputs.fingerprint }}

      - name: Upload APT repository
        run: |
          aws s3 sync build/deb s3://${BUCKET}/deb

  release-rpm:
    runs-on: ubuntu-latest
    if: inputs.dorpmrelease && inputs.dogorelease
    needs:
      - build-ui-dist
      - release-main
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.PKG_S3_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.PKG_S3_SECRET }}
      AWS_REGION: 'fra'
      AWS_ENDPOINT_URL: "https://${{ secrets.PKG_S3_SERVER_NAME }}"
      BUCKET: ${{ secrets.PKG_S3_BUCKET_NAME }}
      TAGNAME: v${{ needs.build-ui-dist.outputs.version }}
    steps:
      - name: Download repodata
        run: |
          aws s3 sync s3://${BUCKET}/rpm build/rpm --exclude \*.rpm

      - name: Download rpm-packages artifacts
        uses: actions/download-artifact@v5
        with:
          pattern: rpm-packages-*
          merge-multiple: true
      
      - name: Install createrepo_c from debian trixie
        run: |
          sudo apt update && sudo apt install -y debian-archive-keyring
          echo "deb [signed-by=/usr/share/keyrings/debian-archive-keyring.gpg] http://ftp.debian.org/debian trixie main" | sudo tee /etc/apt/sources.list.d/debian-trixie.list > /dev/null # required for createrepo-c > 0.17.3
          sudo apt update
          sudo apt install -t trixie -y createrepo-c

      - name: Update RPM repository
        run: |
          ls *.rpm > pkglist.txt
          while read pkg ; do
            ARCH=$(rpm -q $pkg --qf "%{arch}")
            mkdir -p build/rpm/$ARCH
            mv $pkg build/rpm/$ARCH/
            createrepo_c --update --recycle-pkglist --skip-stat --includepkg $(basename $pkg) build/rpm/$ARCH
          done < pkglist.txt
      
      - name: Upload RPM repository
        run: |
          aws s3 sync build/rpm s3://${BUCKET}/rpm
