name: Tests

on: [push, workflow_dispatch]

jobs:
  fmtcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: make fmtcheck

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18.0
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: make test

  integrationTest:
    runs-on: ubuntu-latest
    needs: [fmtcheck, test]
    strategy:
      fail-fast: false
      matrix:
        kind-k8s-version: [1.20.15, 1.21.10, 1.22.7, 1.23.4]
    steps:
      - uses: actions/checkout@v2
      - name: Create K8s Kind Cluster
        uses: helm/kind-action@v1.2.0
        with:
          cluster_name: vault-plugin-auth-kubernetes
          config: integrationtest/kind/config.yaml
          node_image: kindest/node:v${{ matrix.kind-k8s-version }}
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18.0
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: make setup-integration-test
      - env:
          INTEGRATION_TESTS: true
        run: make integration-test