name: test-run-go-tests-for-path

on:
  workflow_call:
    inputs:
      name:
        description: 'The name to use that will appear in the output log file artifact'
        required: true
        type: string
      path:
        description: 'The path to the test without the precedeing "./" or following "/..." e.g. go test -v ./$path/...'
        required: true
        type: string
    # We will need to add the capacity for receiving passed secrets once we get to the tests that require API credentials

env:
  VAULT_ACC: 1

jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with: 
          persist-credentials: false
      - uses: ./.github/actions/set-up-go
      - name: Run go test
        env:
          INPUTS_NAME: ${{ inputs.name }}
          INPUTS_PATH: ${{ inputs.path }}
        run: go test -v "./$INPUTS_PATH/..." 2>&1 | tee "$INPUTS_NAME.txt"
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ inputs.name }}-output
          path: ${{ inputs.name }}.txt
          retention-days: 2
