{{outlet}}
<footer class="footer has-text-grey has-text-centered">
  <span class="is-inline-block">
    <Icon @name="openbao-single" aria-hidden="true" class="has-text-grey-light" />
    &copy;
    {{date-format (now) "yyyy"}}
    OpenBao
  </span>
  <span>
    <ExternalLink @href={{changelog-url-for this.auth.activeCluster.leaderNode.version}} class="link has-text-grey">
      OpenBao
      {{this.auth.activeCluster.leaderNode.version}}
    </ExternalLink>
  </span>
  <span>
    <DocLink @path="" class="has-text-grey">
      Documentation
    </DocLink>
  </span>
</footer>
{{#if (eq this.env "development")}}
  <div class="env-banner level development">
    <div class="level-item notification">
      <Icon @name="git-branch" /><Icon @name="pencil-tool" />
      Local development
      <Icon @name="pencil-tool" /><Icon @name="git-branch" />
    </div>
  </div>
{{/if}}